html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.create-btn{
  width: 200px;
  color: green;
  border: solid 1px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.userip{
  
    width: 300px;
    height: 40px;
    border: solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-area{
  
  width: 300px;
  height: 150px;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.inputContainer{
  margin-right:100px ;
  
}
.submit{
  margin-left:100px ;
}
.output{
  padding-top: 375px;
  margin-left: 100px;
  margin-right:100px ;

}
.outputDisplay{
border:1px solid;
height: 40px;
}

.tableData{
  margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}